<div class="row">
  <div class="col">
    <app-country-input
      (onSearchEnter)="search($event)"
      (onDebounce)="suggestion($event)"
    ></app-country-input>
    <div
      *ngIf="showNotification"
      class="alert alert-danger d-flex align-items-center"
      role="alert"
    >
      <div>
        <i class="bi bi-window-sidebar"></i>
        no se emcontro nada con esta busqueda <b>{{ countryToSearch }}</b>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="countries.length > 0">
  <div class="col">
    <app-country-table [transfer_table]="countries"></app-country-table>
  </div>
</div>
