<main>
  <header class="dish-header">
    <section class="dish-header-slogan">
      <h1 class="slogan-info-title">
        Check the <br />
        best food
      </h1>
      <p class="slogan-info-subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor
        neque sed turpis bibendum dapibus.
      </p>
      <button class="slogan-info-button">Book a table</button>
    </section>
    <section class="dish-header-img">
      <figure class="dish-img">
        <img
          src="./../../../assets/img/hero.png"
          alt="Dish of pasta with neapolitan sauce and vegetables"
        />
      </figure>
    </section>
  </header>
  <section class="dishes">
    <h2 class="dishes-title">Our services</h2>
    <section class="dishes-grid">
      <article class="dishes-grid-item dishes-grid-item-big">
        <figure class="dishes-grid-item-image">
          <img
            src="./../../../assets/img/video.png"
            alt="video of pasta dishes being served"
          />
          <figcaption class="dishes-grid-item-figcaption">video of pasta dishes being served</figcaption>
        </figure>
      </article>
      <article class="dishes-grid-item">
        <figure class="dishes-grid-item-image">
          <img
            src="./../../../assets/img/dish1.png"
            alt="bowl of vegetables with rice and avocado"
          />
          <figcaption class="dishes-grid-item-figcaption">bowl of vegetables with rice and avocado</figcaption>
        </figure>
      </article>
      <article class="dishes-grid-item">
        <figure class="dishes-grid-item-image">
          <img
            src="./../../../assets/img/dish2.png"
            alt="Avocado and egg toast"
          />
          <figcaption class="dishes-grid-item-figcaption">Avocado and egg toast</figcaption>
        </figure>
      </article>
      <article class="dishes-grid-item">
        <figure class="dishes-grid-item-image">
          <img
            src="./../../../assets/img/dish3.png"
            alt="asparagus with tomato and butter"
          />
          <figcaption class="dishes-grid-item-figcaption">asparagus with tomato and butte</figcaption>
        </figure>
      </article>
      <article class="dishes-grid-item">
        <figure class="dishes-grid-item-image">
          <img
            src="./../../../assets/img/dish4.png"
            alt="eggs and guacamole toast "
          />
          <figcaption class="dishes-grid-item-figcaption" >eggs and guacamole toast</figcaption>
        </figure>
      </article>
    </section>
  </section>
  <section class="menu">
      <h2 class="menu-title">Home menu</h2>
      <article class="plates">
          <figure class="plate-item">
            <img src="./../../../assets/img/plate1.png" alt="pasta with neapolitan sauce and vegetables">
          </figure>
          <figure class="plate-item">
            <img src="./../../../assets/img/plate2.png" alt="pasta with broccoli and carrot">
          </figure>
          <figure class="plate-item">
            <img src="./../../../assets/img/plate3.png" alt="pesto pasta">
          </figure>
          <figure class="plate-item">
            <img src="./../../../assets/img/plate4.png" alt="pasta with avocado and corn">
          </figure>
          <figure class="plate-item">
            <img src="./../../../assets/img/plate5.png" alt="bowl of chicken, tomato and carrots">
          </figure>
      </article>
  </section>
</main>
