<main class="container-fluid">
  <header>
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img
            src="../../../assets/img/ToDo-List-icon.png"
            alt=""
            width="65"
            height="48"
          />
        </a>
      </div>
    </nav>
  </header>
  <section>
    <div class="row">
      <div class="col">
        <app-todo-add></app-todo-add>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-todo-list></app-todo-list>
      </div>
    </div>
  </section>
</main>
