<article>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Poblaciòn</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; index as i">
        <td>{{ i + 1 }}</td>
        <td>
          {{ country.flag }}
          <!-- <img
              src="{{ country.flag }}"
              class="small-flag"
              alt="ountry.name.common"
            /> -->
        </td>
        <td>
          <b>{{ country.capital }}</b> - {{ country.name.common }}
        </td>
        <td>{{ country.population | number }}</td>
        <td>
          <a [routerLink]="['/country/', country.cca2]"> ver pais ...</a>
        </td>
      </tr>
    </tbody>
  </table>
</article>
