%btn {
  cursor: pointer;
  font-size: 22px;
  padding: 6px 30px;
  margin: 5px;
  border-radius: 25px;
  border: none;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  &:disabled {
    cursor: not-allowed;
  }
}

.btn__primary {
  @extend %btn;
  background: $green-color;
  color: #fff !important;
  &:hover {
    background: $dark-green-color;
  }
}

.btn__link {
  @extend %btn;
  background: transparent;
  color: $green-color;
  text-decoration: underline;
  font-size: 19px;
  font-weight: bold;
  &:hover {
    color: $dark-green-color;
  }
}
