<h2>Agregar Heroe <small>ADS</small></h2>

<section fxLayout="row" fxLayoutGap="40px">
  <article fxFlex="50" fxLayout="column">
    <div fxFlex="100" fxLayoutGap="10px">
      <mat-form-field fxFlex="100" class="example-full-width" appearance="fill">
        <mat-label>Super heroe</mat-label>
        <input
          matInput
          name="name"
          id="name"
          placeholder="name super heroe"
          value=""
          required
        />
      </mat-form-field>
      <mat-form-field fxFlex="100" class="example-full-width" appearance="fill">
        <mat-label>Alter ego</mat-label>
        <input
          matInput
          name="alter_ego"
          id="alter_ego"
          placeholder="Alter ego"
          value=""
          required
        />
      </mat-form-field>
    </div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Primera aparicion</mat-label>
      <input
        matInput
        name="first_appearance"
        id="first_appearance"
        placeholder="first appearance"
        value=""
        required
      />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Characters</mat-label>
      <input
        matInput
        name="characters"
        id="characters"
        placeholder="characters"
        value=""
        required
      />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Creador</mat-label>
      <mat-select [(value)]="publisherID">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let publisher of publishers" value="publisher.id">{{
          publisher.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Imagen</mat-label>
      <input
        matInput
        name="url"
        id="url"
        placeholder="url de la imagen"
        value=""
        required
      />
    </mat-form-field>

    <button mat-raised-button color="primary">
      <mat-icon>edit</mat-icon>
      Guardar
    </button>
  </article>
  <article fxFlex="50">2</article>
</section>
