<h2>{{ title }} <small>ADS</small></h2>

<section fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">
  <article fxFlex="50" fxLayout="column">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Super heroe</mat-label>
      <input
        matInput
        [(ngModel)]="heroe.superhero"
        placeholder="name super heroe"
        required
      />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Alter ego</mat-label>
      <input
        matInput
        [(ngModel)]="heroe.alter_ego"
        placeholder="Alter ego"
        required
      />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Primera aparicion</mat-label>
      <input
        matInput
        [(ngModel)]="heroe.first_appearance"
        placeholder="first appearance"
        required
      />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Characters</mat-label>
      <input
        matInput
        [(ngModel)]="heroe.characters"
        placeholder="characters"
        required
      />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Creador</mat-label>
      <mat-select [(value)]="heroe.publisher" required>
        <mat-option
          *ngFor="let publisher of publishers"
          [value]="publisher.id"
          >{{ publisher.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Imagen</mat-label>
      <input
        matInput
        [(ngModel)]="heroe.alt_img"
        placeholder="url de la imagen"
        required
      />
    </mat-form-field>
    <div fxLayout>
      <button mat-raised-button color="primary" (click)="addHeroe()">
        <mat-icon>edit</mat-icon>
        Guardar
      </button>
      <span class="space"></span>
      <button
        *ngIf="heroe.id"
        mat-raised-button
        color="warn"
        (click)="deletecHeroe()"
      >
        <mat-icon>remove</mat-icon>
        Borrar
      </button>
    </div>
  </article>
  <article fxFlex="50">
    <img [src]="heroe | urlImagen" alt="{{ heroe.superhero }}" />
  </article>
</section>
