<main class="container mt-4">
  <section class="row">
    <div class="col-3">
      <h2>Busquedas</h2>
      <hr />
      <ul class="list-group">
        <li class="list-group-item" [routerLink]="['/countries']" routerLinkActive="router-link-active" >por país</li>
        <li class="list-group-item" [routerLink]="['/region']" routerLinkActive="router-link-active" >por region</li>
        <li class="list-group-item" [routerLink]="['/region']" routerLinkActive="router-link-active" >por capital</li>
      </ul>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </section>
</main>
