<section>
  <app-title-page
    [title]="'Pipes Basicos'"
    [description]="
      'Pipes incluidos en angular - usualmente en el Common Modules'
    "
  ></app-title-page>

  <article class="grid">
    <div class="col-12 md:col-6 lg:col-3">
      <p-card header="Original text" [subheader]="title">
        {{ text }}
        <ng-template pTemplate="footer">
          {{ operation }}
          <br />
          <code> &#123;<span>&#123; var &#124; pipe &#125;</span>&#125; </code>
        </ng-template>
      </p-card>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
      <p-card header="Pipe lowercase" [subheader]="title | lowercase">
        {{ text | lowercase }}
        <ng-template pTemplate="footer">
          {{ operation | lowercase }}
          <br />
          <code>
            &#123;<span>&#123; var &#124; lowercase &#125;</span>&#125;
          </code>
        </ng-template>
      </p-card>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <p-card header="Pipe titlecase" [subheader]="title | titlecase">
        {{ text | titlecase }}
        <ng-template pTemplate="footer">
          {{ operation | titlecase }}
          <br />
          <code>
            &#123;<span>&#123; var &#124; titlecase &#125;</span>&#125;
          </code>
        </ng-template>
      </p-card>
    </div>
  </article>
  <app-title-page
    [title]="'Pipes DATE'"
    [description]="
      'Pipes incluidos en angular - usualmente en el Common Modules, manejo  de fechas'
    "
  ></app-title-page>
  <article class="grid">
    <div class="col-12 md:col-6 lg:col-3">
      <p-card header="Original text" [subheader]="title">
        {{ text }}
        <ng-template pTemplate="footer">
          {{ operation }}
          <br />
          <code> &#123;<span>&#123; var &#124; pipe &#125;</span>&#125; </code>
        </ng-template>
      </p-card>
    </div>
  </article>
</section>
